*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background-color: rgb(240, 236, 243);
     display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 450px;
    height: 600px;
    margin: auto ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(76, 219, 207);
    /* position: relative; */
    box-shadow: 5px 5px 1px yellowgreen,
    -5px -5px 1px yellowgreen;
    border-radius: 30px;
    color: blue;
}

input{
    margin-left: 20px;
    font-size: 20px;
    padding: 15px 0;
    color: rgb(236, 12, 12);
    border: none;
    border-radius: 20px;
    background-color: rgb(226, 214, 43);
    box-shadow: 5px 5px 12px orangered,
    -5px -5px 12px orangered;
    
}
button{
    font-size: 20px;
    margin-left: 40px;
    padding: 10px 25px;
    border-radius: 20px;
    color: red;
    background-color: yellow;
    border: none;
     box-shadow: 5px 5px 12px orangered,
    -5px -5px 12px orangered;
    
}
.text{
    text-align: center;
    padding: 40px 0;
    color: rgb(158, 12, 85);
    
}
.para{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    color: rgb(199, 10, 199);
     
}
p{
    padding: 12px;
}
h2{
    width: 100%;
    text-align: center;
    margin-top: 40px;
    
}